/* reset css */
body {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0px;
    padding: 0px;
}

ul,
ol,
li {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

a,
a:hover,
a:focus {
    text-decoration: none;
}

img {
    width: 100%;
    height: 100%;
    display: block;
}

.btn,
button,
button:focus,
input:focus,
textarea:focus,
select,
select:focus,
a:focus {
    outline: 0px !important;
}

button {
    background-color: transparent;
    border: 0;
    cursor: pointer;
}

button[disabled] {
    pointer-events: none;
}

input {
    padding: 0;
}

input:required {
    box-shadow: none;
}

input:invalid {
    box-shadow: none;
}

::-webkit-scrollbar {
    /* make scrollbar transparent */
    width: 0px;
    background: transparent;
}

/* basic setting */
$body-bg: #f8f7fc;
$body-color: #18253d;
$white: #fff;
$main-blue: #001935;
$secondary-blue: #3c88fd;
$freedom-blue: #02b8ff;
$dark-gray: #4a4a4a;
$light-gray: #a7aaaf;
$black: #2a2a2a;
$btn: #f67599;

$sizes: (
    25: 25%,
    50: 50%,
    75: 75%,
    100: 100%,
);

@each $prop, $abbrev in (width: w, height: h) {
    @each $num, $val in sizes {
        .#{$abbrev}-#{$num} {
            #{$prop}: $val;
        }
    }
}
/* 使用@each 產出css size設定 */

$spacer: 1rem;
$spacers: (
    0: 0,
    1: (
        $spacer * 0.25,
    ),
    2: (
        $spacer * 0.5,
    ),
    3: (
        $spacer * 0.75,
    ),
    4: $spacer,
    5: (
        $spacer * 1.25,
    ),
    6: (
        $spacer * 1.5,
    ),
    7: (
        $spacer * 1.75,
    ),
    8: (
        $spacer * 2,
    ),
);

/* 使用@each 產出css spacer設定 */

@each $prop, $abbrev in (margin: m, padding: p) {
    @each $num, $val in ($spacers) {
        .#{$abbrev}-#{$num} {
            #{$prop}: $val;
        }
        .#{$abbrev}t-#{$num} {
            #{$prop}-top: $val;
        }
        .#{$abbrev}r-#{$num} {
            #{$prop}-right: $val;
        }
        .#{$abbrev}b-#{$num} {
            #{$prop}-bottom: $val;
        }
        .#{$abbrev}l-#{$num} {
            #{$prop}-left: $val;
        }
        .#{$abbrev}x-#{$num} {
            #{$prop}-left: $val;
            #{$prop}-right: $val;
        }
        .#{$abbrev}y-#{$num} {
            #{$prop}-top: $val;
            #{$prop}-bottom: $val;
        }
    }
}
%standard-boxshadow {
    box-shadow: 3px 0 13px 0 rgba(100, 112, 134, 0.1);
    // box-shadow: 30px 0 100px 0 green;
}
%input-style {
    border: 1px solid $light-gray;
    border-radius: 5px;
    font-size: 16px;
    padding: 8px;
    &:hover,
    &:focus {
        border-color: $dark-gray;
    }
}

html {
    font-size: 16px;
    height: 100%;
}

body {
    height: 100%;
    background: $body-bg;
    color: $body-color;
    font-family: "PingFang TC";
}

.d-none {
    display: none;
}

.d-inline {
    display: inline;
}

.d-inline-block {
    display: inline-blockt;
}

.d-block {
    display: block;
}

.d-flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.justify-content-start {
    justify-content: flex-start;
}

.justify-content-end {
    justify-content: flex-end;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-between {
    justify-content: space-between;
}

.justify-content-around {
    justify-content: space-around;
}

.align-content-start {
    align-content: flex-start;
}

.align-content-end {
    align-content: flex-end;
}

.align-content-center {
    align-content: center;
}

.align-items-start {
    align-items: flex-start;
}

.align-items-end {
    align-items: flex-end;
}

.align-items-center {
    align-items: center;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

.cursor-pointer {
    cursor: pointer;
}

%input-style {
    border: 1px solid $light-gray;
    border-radius: 5px;
    font-size: 16px;
    padding: 8px;
    &:hover,
    &:focus {
        border-color: $dark-gray;
    }
}

%standard-boxshadow {
    box-shadow: 3px 0 13px 0 rgba(100, 112, 134, 0.1);
}
@mixin getStepNums($num) {
    @for $i from 1 through $num {
        &:nth-child(#{$i}) .circle-container::after {
            content: "#{$i}";
        }
    }
}

// style
header {
    width: 100%;
    height: 56px;
    text-align: center;
    background-color: #ffffff;
    -webkit-box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.1);
    .navbar-brand {
        display: block;
        width: 120px;
        height: 30px;
    }
}

.main-content {
    width: 100%;
    .container {
        width: 95%;
        margin: 0 auto;
    }
    .title {
        padding: 1rem;
        font-size: 1.5rem;
    }
}

.stepper-panel {
    height: 120px;
    .stepper-container {
        display: flex;
        padding: 1rem;
        .step {
            @include getStepNums(3);
            text-align: center;
            position: relative;
            flex: 1;
            margin: 0 auto;
            .circle-container {
                height: 32px;
                width: 32px;
                border: 1px solid $light-gray;
                border-radius: 50%;
                color: $light-gray;
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 0 auto;
            }
            .connect-line {
                display: block;
                position: absolute;
                height: 1px;
                background-color: $light-gray;
                top: 12px;
                right: calc(-50% + 30px);
                left: calc(50% + 30px);
            }
            &.checked,
            &.active {
                .circle-container {
                    background-color: $black;
                    color: $white;
                }
                .connect-line {
                    height: 2px;
                    background-color: $black;
                }
            }
            &.checked .circle-container::after {
                content: "\2714";
            }
        }
    }
}

.form-panel {
    .part-delivery {
        .grid-row {
            padding: 0.5rem 1rem;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(5, 1fr);
            grid-template-areas:
                "salutation name name"
                "phone phone phone"
                "email email email"
                "location location location"
                "address address address";
            grid-gap: 0.5rem;
            .form-row {
                &.gird-salutation {
                    grid-area: salutation;
                }
                &.grid-name {
                    grid-area: name;
                }
                &.grid-phone {
                    grid-area: phone;
                }
                &.grid-email {
                    grid-area: email;
                }
                &.grid-location {
                    grid-area: location;
                }
                &.grid-address {
                    grid-area: address;
                }
            }
        }
    }
    .part-courier {
        .part-courier-conrainer {
            padding: 0.5rem 1rem;
        }
        .form-row {
            @extend %input-style;
            align-items: center;
            cursor: pointer;
            width: 100%;
            small {
                display: block;
                color: $light-gray;
            }
        }
    }
    .part-payment {
        .grid-row {
            padding: 0.5rem 1rem;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(3, 1fr);
            grid-template-areas:
                "name name"
                "number number"
                "date ccv";
            grid-gap: 0.5rem;
            .form-row {
                margin-top: 0.5rem;
                &.grid-name {
                    grid-area: name;
                }
                &.grid-number {
                    grid-area: number;
                }
                &.grid-date {
                    grid-area: date;
                }
                &.grid-ccv {
                    grid-area: ccv;
                }
            }
        }
    }
    .form-row {
        > label {
            height: 21px;
            display: block;
            margin: 3px 0;
            font-weight: 600;
            color: $light-gray;
        }
    }
}

form {
    input {
        @extend %input-style;
        &[type="text"] {
            width: 100%;
            background-color: transparent;
            &::placeholder {
                color: $light-gray;
            }
        }
        &[type="radio"] {
            cursor: pointer;
            -webkit-appearance: none;
            border-radius: 50%;
            &:checked {
                box-shadow: inset 0 0 0 5px $black;
            }
        }
    }
    .select-wrapper {
        position: relative;
        &::after {
            content: "";
            border-style: solid;
            border-width: 6px 4px 0 4px;
            border-color: $light-gray transparent transparent transparent;
            position: absolute;
            top: 50%;
            right: 8px;
            transform: translateY(-50%);
            z-index: -1;
        }
    }
    select {
        @extend %input-style;
        -webkit-appearance: none;
        background-color: transparent;
        width: 100%;
        &:invalid {
            color: $light-gray;
        }
    }
}

.cart-panel {
    padding: 1rem;
    .cart-content {
        border: 1px solid $light-gray;
        border-radius: 5px;
        .cart-items {
            padding: 1rem;
            display: flex;
            flex-direction: column;
            .item {
                display: flex;
                justify-content: space-between;
                .pic {
                    width: 100px;
                    height: 100px;
                    min-width: 50px;
                    min-height: 50px;
                }
            }
            .info {
                padding: 0.5rem;
                .info-left {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-end;
                    .info-amount {
                        margin-top: 1rem;
                        display: flex;
                        .amount {
                            margin: 0 1rem;
                            display: inline-block;
                            line-height: 27px;
                        }
                    }
                }
            }
        }
    }
    .circle-container {
        height: 27px;
        width: 26px;
        border-radius: 50%;
        color: $black;
        background-color: $light-gray;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        &:hover {
            cursor: pointer;
        }
    }
}


.btn-panel {
    padding: 1rem;
    .btn-container {
        border-top: 1px solid $light-gray;
        padding: 1rem;
        .btn-content {
            display: flex;
            justify-content: space-between;
        }
        button {
            width: 100%;
            @extend %input-style;
        }
        .btn-pre {
            background-color: $light-gray;
        }
        .btn-next {
            background-color: $btn;
            color: $white;
        }
    }
}

.none {
    display: none;
}

// 桌機
@media screen and (min-width: 375px) {
    .main-content {
        display: flex;
        .left-content {
            width: 60%;
        }
        .right-content {
            width: 40%;
            margin-top: 4rem;
            .cart-items {
                .info {
                    flex: 1;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: flex-start;
                    .info-left {
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                    }
                }
            }
        }
    }
}
