/* reset css */
body {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0px;
    padding: 0px;
}

ul,
ol,
li {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

a,
a:hover,
a:focus {
    text-decoration: none;
}

img {
    width: 100%;
    height: 100%;
    display: block;
}

.btn,
button,
button:focus,
input:focus,
textarea:focus,
select,
select:focus,
a:focus {
    outline: 0px !important;
}

button {
    background-color: transparent;
    border: 0;
    cursor: pointer;
}

button[disabled] {
    pointer-events: none;
}

input {
    padding: 0;
}

input:required {
    box-shadow: none;
}

input:invalid {
    box-shadow: none;
}

::-webkit-scrollbar {
    /* make scrollbar transparent */
    // width: 0px;
    // background: transparent;
}

/* basic setting */
$body-bg: #f8f7fc;
$body-color: #18253d;
$white: #fff;
$main-blue: #001935;
$secondary-blue: #3c88fd;
$freedom-blue: #02b8ff;
$dark-gray: #4a4a4a;
$light-gray: #a7aaaf;
$black: #2a2a2a;
$btn: #f67599;
$bottom-line: #2a2a2a;
$sizes: (
    25: 25%,
    50: 50%,
    75: 75%,
    100: 100%,
);

@each $prop, $abbrev in (width: w, height: h) {
    @each $num, $val in sizes {
        .#{$abbrev}-#{$num} {
            #{$prop}: $val;
        }
    }
}
/* 使用@each 產出css size設定 */

$spacer: 1rem;
$spacers: (
    0: 0,
    1: (
        $spacer * 0.25,
    ),
    2: (
        $spacer * 0.5,
    ),
    3: (
        $spacer * 0.75,
    ),
    4: $spacer,
    5: (
        $spacer * 1.25,
    ),
    6: (
        $spacer * 1.5,
    ),
    7: (
        $spacer * 1.75,
    ),
    8: (
        $spacer * 2,
    ),
);

/* 使用@each 產出css spacer設定 */

@each $prop, $abbrev in (margin: m, padding: p) {
    @each $num, $val in ($spacers) {
        .#{$abbrev}-#{$num} {
            #{$prop}: $val;
        }
        .#{$abbrev}t-#{$num} {
            #{$prop}-top: $val;
        }
        .#{$abbrev}r-#{$num} {
            #{$prop}-right: $val;
        }
        .#{$abbrev}b-#{$num} {
            #{$prop}-bottom: $val;
        }
        .#{$abbrev}l-#{$num} {
            #{$prop}-left: $val;
        }
        .#{$abbrev}x-#{$num} {
            #{$prop}-left: $val;
            #{$prop}-right: $val;
        }
        .#{$abbrev}y-#{$num} {
            #{$prop}-top: $val;
            #{$prop}-bottom: $val;
        }
    }
}
%standard-boxshadow {
    box-shadow: 3px 0 13px 0 rgba(100, 112, 134, 0.1);
    // box-shadow: 30px 0 100px 0 green;
}
%input-style {
    border: 1px solid $light-gray;
    border-radius: 5px;
    font-size: 16px;
    padding: 8px;
    &:hover,
    &:focus {
        border-color: $dark-gray;
    }
}

html {
    font-size: 16px;
    
}

body {
    background: $body-bg;
    color: $body-color;
    font-family: "PingFang TC";
}

.d-none {
    display: none;
}

.d-inline {
    display: inline;
}

.d-inline-block {
    display: inline-blockt;
}

.d-block {
    display: block;
}

.d-flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.justify-content-start {
    justify-content: flex-start;
}

.justify-content-end {
    justify-content: flex-end;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-between {
    justify-content: space-between;
}

.justify-content-around {
    justify-content: space-around;
}

.align-content-start {
    align-content: flex-start;
}

.align-content-end {
    align-content: flex-end;
}

.align-content-center {
    align-content: center;
}

.align-items-start {
    align-items: flex-start;
}

.align-items-end {
    align-items: flex-end;
}

.align-items-center {
    align-items: center;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

.cursor-pointer {
    cursor: pointer;
}

%input-style {
    border: 1px solid $light-gray;
    border-radius: 5px;
    font-size: 16px;
    padding: 8px;
    &:hover,
    &:focus {
        border-color: $dark-gray;
    }
}

%standard-boxshadow {
    box-shadow: 3px 0 13px 0 rgba(100, 112, 134, 0.1);
}
@mixin getStepNums($num) {
    @for $i from 1 through $num {
        &:nth-child(#{$i}) .circle-container::after {
            content: "#{$i}";
        }
    }
}

// style
.main-app {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: scroll;
}
header {
    width: 100%;
    height: 56px;
    position: fixed;
    z-index: 99;
    background-color: #ffffff;
    -webkit-box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.1);
    .nav {
        width: 90%;
        margin: 0 auto;
        height: 100%;
    }
    .navbar-brand {
        position: absolute;
        top: 1rem;
        left: 50%;
        transform: translateX(-50%);
        img {
            max-width: 140px;
        }
    }
    .nav-list {
        display: none;
        flex-direction: column;
        align-items: center;
        margin-top: 3rem;
        background-color: #ffffff;
    }
    .nav-icons {
        display: none;
        justify-content: center;
        background-color: #ffffff;
    }
    .icon {
        margin: 1.4rem 1rem;
        width: 20px;
        height: 20px;
    }
    .nav-item {
        text-align: center;
        width: 100%;
        padding: 1rem;
        border-bottom: 1px solid lighten($bottom-line, 75%);
    }
    .nav-link {
        color: $bottom-line;
    }
    .navbar-toggle {
        display: none;
    }
    .navbar-toggle:checked ~ .nav-list {
        display: flex;
    }
    .navbar-toggle:checked ~ .nav-icons {
        display: flex;
    }
    .hamburger {
        display: inline-block;
        position: absolute;
        top: 20.5px;
        left: 54px;
        width: 20px;
        height: 15px;
    }
}

.main-content {
    padding-top: 10px;
    width: 90%;
    margin: 0 auto;
    .title {
        padding: 1rem;
        font-size: 1.5rem;
    }
}

.stepper-panel {
    padding-top: 50px;
    .stepper-container {
        height: 80px;
        padding: 1rem;
        width: 100%;
        display: flex;
        align-items: center;
        .step {
            @include getStepNums(3);
            align-items: center;
            justify-content: flex-start;
            display: flex;
            position: relative;
            z-index: -1;
            overflow: hidden;
            flex: 1 1;
            .content {
                display: flex;
                position: relative;
                height: 32px;
                line-height: 32px;
                margin-left: 3px;
                color: $light-gray;
            }
            .circle-container {
                background-color: transparent;
                text-align: center;
                flex: none;
                z-index: 1;
                height: 32px;
                width: 32px;
                border: 1px solid $light-gray;
                border-radius: 50%;
                color: $light-gray;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            &.checked,
            &.active {
                .circle-container {
                    background-color: $black;
                    color: $white;
                }
                .connect-line {
                    height: 2px;
                    background-color: $black;
                }
                .content {
                    color: $black;
                    font-weight: 600;
                    &::after {
                        content: "";
                        background-color: $black;
                    }
                }
            }
            &.checked .circle-container::after {
                content: "\2714";
            }
        }
    }
    .step:not(:last-child) {
        .content {
            &::after {
                content: "";
                position: absolute;
                width: 1000px;
                height: 2px;
                background-color: $light-gray;
                top: 16px;
                left: calc(100% + 1rem);
                right: 50px;
            }
        }
    }
    .step:last-child {
        flex: none;
    }
}

.form-panel {
    .part-delivery {
        .grid-row {
            padding: 0.5rem 1rem;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(5, 1fr);
            grid-template-areas:
                "salutation name name"
                "phone phone phone"
                "email email email"
                "location location location"
                "address address address";
            grid-gap: 1rem;
            .form-row {
                &.gird-salutation {
                    grid-area: salutation;
                }
                &.grid-name {
                    grid-area: name;
                }
                &.grid-phone {
                    grid-area: phone;
                }
                &.grid-email {
                    grid-area: email;
                }
                &.grid-location {
                    grid-area: location;
                }
                &.grid-address {
                    grid-area: address;
                }
            }
        }
    }
    .part-courier {
        label {
            width: 100%;
        }
        .part-courier-conrainer {
            padding: 0.5rem 1rem;
        }
        .form-row {
            @extend %input-style;
            align-items: center;
            cursor: pointer;
            width: 100%;
            small {
                display: block;
                color: $light-gray;
            }
        }
    }
    .part-payment {
        .grid-row {
            padding: 0.5rem 1rem;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(3, 1fr);
            grid-template-areas:
                "name name"
                "number number"
                "date ccv";
            grid-gap: 1rem;
            .form-row {
                &.grid-name {
                    grid-area: name;
                }
                &.grid-number {
                    grid-area: number;
                }
                &.grid-date {
                    grid-area: date;
                }
                &.grid-ccv {
                    grid-area: ccv;
                }
            }
        }
    }
    .form-row {
        > label {
            height: 21px;
            display: block;
            margin: 3px 0;
            font-weight: 600;
            color: $light-gray;
        }
    }
}

form {
    input {
        @extend %input-style;
        &[type="text"] {
            width: 100%;
            background-color: transparent;
            &::placeholder {
                color: $light-gray;
            }
        }
        &[type="radio"] {
            cursor: pointer;
            -webkit-appearance: none;
            border-radius: 50%;
            &:checked {
                box-shadow: inset 0 0 0 5px $black;
            }
        }
    }
    .select-wrapper {
        position: relative;
        &::after {
            content: "";
            border-style: solid;
            border-width: 6px 4px 0 4px;
            border-color: $light-gray transparent transparent transparent;
            position: absolute;
            top: 50%;
            right: 8px;
            transform: translateY(-50%);
            z-index: -1;
        }
    }
    select {
        @extend %input-style;
        -webkit-appearance: none;
        background-color: transparent;
        width: 100%;
        &:invalid {
            color: $light-gray;
        }
    }
}

.cart-panel {
    padding: 1rem;
    .cart-content {
        flex: 1;
        border: 1px solid $light-gray;
        border-radius: 5px;
        .cart-items {
            padding: 1rem;
            display: flex;
            flex-direction: column;
            .item {
                padding: 0.5rem 0;
                display: flex;
                justify-content: space-between;
                .pic {
                    width: 100px;
                    height: 100px;
                    min-width: 50px;
                    min-height: 50px;
                    align-self: center;
                    margin: auto 0;
                }
            }
            .info {
                padding: 0.5rem;
                flex-wrap: wrap;
                .info-left {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-end;
                    .info-amount {
                        margin: 1rem 0;
                        display: flex;
                        flex-wrap: wrap;
                        position: relative;
                        text-align: center;
                        vertical-align: middle;
                        .amount {
                            margin: 0 1rem;
                            line-height: 27px;
                        }
                    }
                }
            }
        }
        .cart-info-delivery,
        .cart-info-total {
            border-top: 1px solid $light-gray;
            padding: 1.5rem 0;
        }
    }
    .circle-container {
        height: 26px;
        width: 26px;
        border-radius: 50%;
        color: $black;
        background-color: #f0f0f5;

        margin: 0 auto;
        &:hover {
            cursor: pointer;
        }
    }
    #subtract {
        line-height: 23px;
    }
    #add {
        line-height: 26px;
    }
}

.btn-panel {
    .btn-container {
        padding: 1rem;
        .btn-content {
            padding-top:1rem;
            border-top: 1px solid #a7aaaf;
            display: flex;
            justify-content: space-between;
        }
        button {
            width: 100%;
            border-radius: 5px;
            font-size: 16px;
            padding: 8px;
        }
    }
    .btn-prev {
        text-align: left;
        background-color: transparent;
        &::before {
            content: "←";
            margin-right: 1rem;
        }
    }
    .btn-next {
        background-color: $btn;
        color: $white;
        &:hover {
            background-color: darken($btn, 10%);
        }
        &::after {
            content: "→";
            margin-left: 1rem;
        }
    }
}

.none {
    display: none;
}

// 桌機
@media screen and (min-width: 768px) {
    header {
        .nav {
            padding: 0 1rem;
            margin: 0 auto;
            position: relative;
        }
        .hamburger {
            all: unset;
            display: inline-block;
            position: absolute;
            top: 20.5px;
            width: 20px;
            height: 15px;
        }
    }
    .stepper-panel {
        padding-top: 90px;
    }
    .main-content {
        min-height: calc(100% - 330px);
        margin-bottom: 30px;
        .main-container {
            height: 100%;
            margin: 0 auto;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(5, 1fr);
            grid-template-areas:
                "left right"
                "left right"
                "left right"
                "left right"
                "btn right";
        }
        .left-content {
            height: 100%;
            min-width: 453px;
            grid-area: left;
        }
        .right-content {
            padding-top: 70px;
            height: 100%;
            min-width: 400px;
            margin-top: 4rem;
            grid-area: right;
            .cart-panel {
                margin-top: 24px;
            }
            .cart-items {
                .info {
                    flex: 1;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: flex-start;
                    .info-left {
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                    }
                }
            }
        }
        .btn-panel {
            margin-top: 20px;
            grid-area: btn;
            .btn-container {             
                height: 100%;
                padding: 1rem;
            }
            .btn-content {
                width: 100%;
                height: 100%;
                position: relative;
                justify-content: space-between;
            }
            button {
                width: 35%;
                max-width: 180px;
            }
            .btn-next {
                position: absolute;
                right: 0;
                top: 16px;
                bottom: 16px;
            }
        }
        .cart-content {
            .title {
                display: block;
            }
        }
        .part-delivery {
            .grid-row {
                grid-template-columns: repeat(4, 1fr);
                grid-template-rows: repeat(3, 1fr);
                grid-template-areas:
                    "salutation name name name"
                    "phone phone email email"
                    "location address address address";
            }
        }
        .part-payment {
            .grid-row {
                grid-template-columns: repeat(4, 1fr);
                grid-template-rows: repeat(3, 1fr);
                grid-template-areas:
                    "name name name ."
                    "number number number ."
                    "date date ccv ccv";
            }
        }
    }
    .content-text {
        display: flex;
        flex-wrap: wrap;
    }
    .part-courier {
        label {
            max-width: 80%;
            margin-bottom: 2.8rem;
        }
    }
}
@media screen and (min-width: 996px) {
    .main-content {
        padding-top: 20px;
    }
    header {
        width: 100%;
        .nav {
            padding: 0 1rem;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
            align-items: center;
            position: relative;
            .nav-list {
                all: unset;
                display: flex;
                font-size: 1rem;
                font-weight: 600;
            }
            .nav-item {
                all: unset;
                padding: 0.5rem 0.5rem 0.5rem 0;
            }
            .navbar-brand {
                position: absolute;
                min-width: 140px;
                margin: 0 auto;
                left: 50%;
            }
            .nav-icons {
                all: unset;
                display: flex;
            }
            .hamburger {
                display: none;
            }
        }
    }
    .footer {
        height: 330px;
        display: block;
        width: 100%;
        background-color: #e5e5e5;
    }
    .footer-container {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 90%;
        margin: 0 auto;
    }

    .footer-brand {
        line-height: 140px;
        align-self: center;
        width: 160px;
        min-width: 80px;
        height: 30px;
        min-height: 20px;
        img {
            width: 100%;
        }
    }
    .footer-panel {
        display: flex;
        justify-content: space-between;
        width: 100%;
        .item {
            display: flex;
            flex-direction: column;
        }
        .icon {
            display: inline-block;
            width: 15px;
            height: 15px;
            img {
                width: 100%;
            }
        }
    }
    .item-list {
        display: flex;
        flex-direction: column;
    }
    .item-link {
        color: $light-gray;
    }
}
