@charset "UTF-8";
/* reset css */
body {
  margin: 0;
  padding: 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0px;
  padding: 0px;
}

ul,
ol,
li {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

a,
a:hover,
a:focus {
  text-decoration: none;
}

img {
  width: 100%;
  height: 100%;
  display: block;
}

.btn,
button,
button:focus,
input:focus,
textarea:focus,
select,
select:focus,
a:focus {
  outline: 0px !important;
}

button {
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

button[disabled] {
  pointer-events: none;
}

input {
  padding: 0;
}

input:required {
  -webkit-box-shadow: none;
          box-shadow: none;
}

input:invalid {
  -webkit-box-shadow: none;
          box-shadow: none;
}

::-webkit-scrollbar {
  /* make scrollbar transparent */
}

/* basic setting */
/* 使用@each 產出css size設定 */
/* 使用@each 產出css spacer設定 */
.m-0 {
  margin: 0;
}

.mt-0 {
  margin-top: 0;
}

.mr-0 {
  margin-right: 0;
}

.mb-0 {
  margin-bottom: 0;
}

.ml-0 {
  margin-left: 0;
}

.mx-0 {
  margin-left: 0;
  margin-right: 0;
}

.my-0 {
  margin-top: 0;
  margin-bottom: 0;
}

.m-1 {
  margin: 0.25rem;
}

.mt-1 {
  margin-top: 0.25rem;
}

.mr-1 {
  margin-right: 0.25rem;
}

.mb-1 {
  margin-bottom: 0.25rem;
}

.ml-1 {
  margin-left: 0.25rem;
}

.mx-1 {
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}

.my-1 {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}

.m-2 {
  margin: 0.5rem;
}

.mt-2 {
  margin-top: 0.5rem;
}

.mr-2 {
  margin-right: 0.5rem;
}

.mb-2 {
  margin-bottom: 0.5rem;
}

.ml-2 {
  margin-left: 0.5rem;
}

.mx-2 {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.my-2 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.m-3 {
  margin: 0.75rem;
}

.mt-3 {
  margin-top: 0.75rem;
}

.mr-3 {
  margin-right: 0.75rem;
}

.mb-3 {
  margin-bottom: 0.75rem;
}

.ml-3 {
  margin-left: 0.75rem;
}

.mx-3 {
  margin-left: 0.75rem;
  margin-right: 0.75rem;
}

.my-3 {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}

.m-4 {
  margin: 1rem;
}

.mt-4 {
  margin-top: 1rem;
}

.mr-4 {
  margin-right: 1rem;
}

.mb-4 {
  margin-bottom: 1rem;
}

.ml-4 {
  margin-left: 1rem;
}

.mx-4 {
  margin-left: 1rem;
  margin-right: 1rem;
}

.my-4 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.m-5 {
  margin: 1.25rem;
}

.mt-5 {
  margin-top: 1.25rem;
}

.mr-5 {
  margin-right: 1.25rem;
}

.mb-5 {
  margin-bottom: 1.25rem;
}

.ml-5 {
  margin-left: 1.25rem;
}

.mx-5 {
  margin-left: 1.25rem;
  margin-right: 1.25rem;
}

.my-5 {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}

.m-6 {
  margin: 1.5rem;
}

.mt-6 {
  margin-top: 1.5rem;
}

.mr-6 {
  margin-right: 1.5rem;
}

.mb-6 {
  margin-bottom: 1.5rem;
}

.ml-6 {
  margin-left: 1.5rem;
}

.mx-6 {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.my-6 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.m-7 {
  margin: 1.75rem;
}

.mt-7 {
  margin-top: 1.75rem;
}

.mr-7 {
  margin-right: 1.75rem;
}

.mb-7 {
  margin-bottom: 1.75rem;
}

.ml-7 {
  margin-left: 1.75rem;
}

.mx-7 {
  margin-left: 1.75rem;
  margin-right: 1.75rem;
}

.my-7 {
  margin-top: 1.75rem;
  margin-bottom: 1.75rem;
}

.m-8 {
  margin: 2rem;
}

.mt-8 {
  margin-top: 2rem;
}

.mr-8 {
  margin-right: 2rem;
}

.mb-8 {
  margin-bottom: 2rem;
}

.ml-8 {
  margin-left: 2rem;
}

.mx-8 {
  margin-left: 2rem;
  margin-right: 2rem;
}

.my-8 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.p-0 {
  padding: 0;
}

.pt-0 {
  padding-top: 0;
}

.pr-0 {
  padding-right: 0;
}

.pb-0 {
  padding-bottom: 0;
}

.pl-0 {
  padding-left: 0;
}

.px-0 {
  padding-left: 0;
  padding-right: 0;
}

.py-0 {
  padding-top: 0;
  padding-bottom: 0;
}

.p-1 {
  padding: 0.25rem;
}

.pt-1 {
  padding-top: 0.25rem;
}

.pr-1 {
  padding-right: 0.25rem;
}

.pb-1 {
  padding-bottom: 0.25rem;
}

.pl-1 {
  padding-left: 0.25rem;
}

.px-1 {
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}

.py-1 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.p-2 {
  padding: 0.5rem;
}

.pt-2 {
  padding-top: 0.5rem;
}

.pr-2 {
  padding-right: 0.5rem;
}

.pb-2 {
  padding-bottom: 0.5rem;
}

.pl-2 {
  padding-left: 0.5rem;
}

.px-2 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.p-3 {
  padding: 0.75rem;
}

.pt-3 {
  padding-top: 0.75rem;
}

.pr-3 {
  padding-right: 0.75rem;
}

.pb-3 {
  padding-bottom: 0.75rem;
}

.pl-3 {
  padding-left: 0.75rem;
}

.px-3 {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.py-3 {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.p-4 {
  padding: 1rem;
}

.pt-4 {
  padding-top: 1rem;
}

.pr-4 {
  padding-right: 1rem;
}

.pb-4 {
  padding-bottom: 1rem;
}

.pl-4 {
  padding-left: 1rem;
}

.px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.py-4 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.p-5 {
  padding: 1.25rem;
}

.pt-5 {
  padding-top: 1.25rem;
}

.pr-5 {
  padding-right: 1.25rem;
}

.pb-5 {
  padding-bottom: 1.25rem;
}

.pl-5 {
  padding-left: 1.25rem;
}

.px-5 {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.py-5 {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}

.p-6 {
  padding: 1.5rem;
}

.pt-6 {
  padding-top: 1.5rem;
}

.pr-6 {
  padding-right: 1.5rem;
}

.pb-6 {
  padding-bottom: 1.5rem;
}

.pl-6 {
  padding-left: 1.5rem;
}

.px-6 {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.py-6 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.p-7 {
  padding: 1.75rem;
}

.pt-7 {
  padding-top: 1.75rem;
}

.pr-7 {
  padding-right: 1.75rem;
}

.pb-7 {
  padding-bottom: 1.75rem;
}

.pl-7 {
  padding-left: 1.75rem;
}

.px-7 {
  padding-left: 1.75rem;
  padding-right: 1.75rem;
}

.py-7 {
  padding-top: 1.75rem;
  padding-bottom: 1.75rem;
}

.p-8 {
  padding: 2rem;
}

.pt-8 {
  padding-top: 2rem;
}

.pr-8 {
  padding-right: 2rem;
}

.pb-8 {
  padding-bottom: 2rem;
}

.pl-8 {
  padding-left: 2rem;
}

.px-8 {
  padding-left: 2rem;
  padding-right: 2rem;
}

.py-8 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.form-panel .part-courier .form-row, form input, form select {
  border: 1px solid #a7aaaf;
  border-radius: 5px;
  font-size: 16px;
  padding: 8px;
}

.form-panel .part-courier .form-row:hover, form input:hover, form select:hover, .form-panel .part-courier .form-row:focus, form input:focus, form select:focus {
  border-color: #4a4a4a;
}

html {
  font-size: 16px;
  height: 100%;
}

body {
  height: 100%;
  background: #f8f7fc;
  color: #18253d;
  font-family: "PingFang TC";
}

.d-none {
  display: none;
}

.d-inline {
  display: inline;
}

.d-inline-block {
  display: inline-blockt;
}

.d-block {
  display: block;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.justify-content-start {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.justify-content-end {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.justify-content-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.justify-content-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.justify-content-around {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.align-content-start {
  -ms-flex-line-pack: start;
      align-content: flex-start;
}

.align-content-end {
  -ms-flex-line-pack: end;
      align-content: flex-end;
}

.align-content-center {
  -ms-flex-line-pack: center;
      align-content: center;
}

.align-items-start {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.align-items-end {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.align-items-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.cursor-pointer {
  cursor: pointer;
}

.form-panel .part-courier .form-row, form input, form select {
  border: 1px solid #a7aaaf;
  border-radius: 5px;
  font-size: 16px;
  padding: 8px;
}

.form-panel .part-courier .form-row:hover, form input:hover, form select:hover, .form-panel .part-courier .form-row:focus, form input:focus, form select:focus {
  border-color: #4a4a4a;
}

.main-app {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: scroll;
}

header {
  width: 100%;
  height: 56px;
  position: fixed;
  z-index: 99;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.1);
}

header .nav {
  width: 90%;
  margin: 0 auto;
  height: 100%;
}

header .navbar-brand {
  position: absolute;
  top: 1rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

header .navbar-brand img {
  max-width: 140px;
}

header .nav-list {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 3rem;
  background-color: #ffffff;
}

header .nav-icons {
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #ffffff;
}

header .icon {
  margin: 1.4rem 1rem;
  width: 20px;
  height: 20px;
}

header .nav-item {
  text-align: center;
  width: 100%;
  padding: 1rem;
  border-bottom: 1px solid #e9e9e9;
}

header .nav-link {
  color: #2a2a2a;
}

header .navbar-toggle {
  display: none;
}

header .navbar-toggle:checked ~ .nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .navbar-toggle:checked ~ .nav-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .hamburger {
  display: inline-block;
  position: absolute;
  top: 20.5px;
  left: 54px;
  width: 20px;
  height: 15px;
}

.main-content {
  padding-top: 10px;
  width: 90%;
  margin: 0 auto;
}

.main-content .title {
  padding: 1rem;
  font-size: 1.5rem;
}

.stepper-panel {
  padding-top: 50px;
}

.stepper-panel .stepper-container {
  height: 80px;
  padding: 1rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.stepper-panel .stepper-container .step {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  z-index: -1;
  overflow: hidden;
  -webkit-box-flex: 1;
      -ms-flex: 1 1;
          flex: 1 1;
}

.stepper-panel .stepper-container .step:nth-child(1) .circle-container::after {
  content: "1";
}

.stepper-panel .stepper-container .step:nth-child(2) .circle-container::after {
  content: "2";
}

.stepper-panel .stepper-container .step:nth-child(3) .circle-container::after {
  content: "3";
}

.stepper-panel .stepper-container .step .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  height: 32px;
  line-height: 32px;
  margin-left: 3px;
  color: #a7aaaf;
}

.stepper-panel .stepper-container .step .circle-container {
  background-color: transparent;
  text-align: center;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  z-index: 1;
  height: 32px;
  width: 32px;
  border: 1px solid #a7aaaf;
  border-radius: 50%;
  color: #a7aaaf;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.stepper-panel .stepper-container .step.checked .circle-container, .stepper-panel .stepper-container .step.active .circle-container {
  background-color: #2a2a2a;
  color: #fff;
}

.stepper-panel .stepper-container .step.checked .connect-line, .stepper-panel .stepper-container .step.active .connect-line {
  height: 2px;
  background-color: #2a2a2a;
}

.stepper-panel .stepper-container .step.checked .content, .stepper-panel .stepper-container .step.active .content {
  color: #2a2a2a;
  font-weight: 600;
}

.stepper-panel .stepper-container .step.checked .content::after, .stepper-panel .stepper-container .step.active .content::after {
  content: "";
  background-color: #2a2a2a;
}

.stepper-panel .stepper-container .step.checked .circle-container::after {
  content: "\2714";
}

.stepper-panel .step:not(:last-child) .content::after {
  content: "";
  position: absolute;
  width: 1000px;
  height: 2px;
  background-color: #a7aaaf;
  top: 16px;
  left: calc(100% + 1rem);
  right: 50px;
}

.stepper-panel .step:last-child {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
}

.form-panel .part-delivery .grid-row {
  padding: 0.5rem 1rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: (1fr)[5];
      grid-template-rows: repeat(5, 1fr);
      grid-template-areas: "salutation name name" "phone phone phone" "email email email" "location location location" "address address address";
  grid-gap: 1rem;
}

.form-panel .part-delivery .grid-row .form-row.gird-salutation {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: salutation;
}

.form-panel .part-delivery .grid-row .form-row.grid-name {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: name;
}

.form-panel .part-delivery .grid-row .form-row.grid-phone {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: phone;
}

.form-panel .part-delivery .grid-row .form-row.grid-email {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: email;
}

.form-panel .part-delivery .grid-row .form-row.grid-location {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: location;
}

.form-panel .part-delivery .grid-row .form-row.grid-address {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: address;
}

.form-panel .part-courier label {
  width: 100%;
}

.form-panel .part-courier .part-courier-conrainer {
  padding: 0.5rem 1rem;
}

.form-panel .part-courier .form-row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  width: 100%;
}

.form-panel .part-courier .form-row small {
  display: block;
  color: #a7aaaf;
}

.form-panel .part-payment .grid-row {
  padding: 0.5rem 1rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: (1fr)[3];
      grid-template-rows: repeat(3, 1fr);
      grid-template-areas: "name name" "number number" "date ccv";
  grid-gap: 1rem;
}

.form-panel .part-payment .grid-row .form-row.grid-name {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: name;
}

.form-panel .part-payment .grid-row .form-row.grid-number {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: number;
}

.form-panel .part-payment .grid-row .form-row.grid-date {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: date;
}

.form-panel .part-payment .grid-row .form-row.grid-ccv {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: ccv;
}

.form-panel .form-row > label {
  height: 21px;
  display: block;
  margin: 3px 0;
  font-weight: 600;
  color: #a7aaaf;
}

form input[type="text"] {
  width: 100%;
  background-color: transparent;
}

form input[type="text"]::-webkit-input-placeholder {
  color: #a7aaaf;
}

form input[type="text"]:-ms-input-placeholder {
  color: #a7aaaf;
}

form input[type="text"]::-ms-input-placeholder {
  color: #a7aaaf;
}

form input[type="text"]::placeholder {
  color: #a7aaaf;
}

form input[type="radio"] {
  cursor: pointer;
  -webkit-appearance: none;
  border-radius: 50%;
}

form input[type="radio"]:checked {
  -webkit-box-shadow: inset 0 0 0 5px #2a2a2a;
          box-shadow: inset 0 0 0 5px #2a2a2a;
}

form .select-wrapper {
  position: relative;
}

form .select-wrapper::after {
  content: "";
  border-style: solid;
  border-width: 6px 4px 0 4px;
  border-color: #a7aaaf transparent transparent transparent;
  position: absolute;
  top: 50%;
  right: 8px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: -1;
}

form select {
  -webkit-appearance: none;
  background-color: transparent;
  width: 100%;
}

form select:invalid {
  color: #a7aaaf;
}

.cart-panel {
  padding: 1rem;
}

.cart-panel .cart-content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border: 1px solid #a7aaaf;
  border-radius: 5px;
}

.cart-panel .cart-content .cart-items {
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.cart-panel .cart-content .cart-items .item {
  padding: 0.5rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cart-panel .cart-content .cart-items .item .pic {
  width: 100px;
  height: 100px;
  min-width: 50px;
  min-height: 50px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin: auto 0;
}

.cart-panel .cart-content .cart-items .info {
  padding: 0.5rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.cart-panel .cart-content .cart-items .info .info-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.cart-panel .cart-content .cart-items .info .info-left .info-amount {
  margin: 1rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
  text-align: center;
  vertical-align: middle;
}

.cart-panel .cart-content .cart-items .info .info-left .info-amount .amount {
  margin: 0 1rem;
  line-height: 27px;
}

.cart-panel .cart-content .cart-info-delivery,
.cart-panel .cart-content .cart-info-total {
  border-top: 1px solid #a7aaaf;
  padding: 1.5rem 0;
}

.cart-panel .circle-container {
  height: 26px;
  width: 26px;
  border-radius: 50%;
  color: #2a2a2a;
  background-color: #f0f0f5;
  margin: 0 auto;
}

.cart-panel .circle-container:hover {
  cursor: pointer;
}

.cart-panel #subtract {
  line-height: 23px;
}

.cart-panel #add {
  line-height: 26px;
}

.btn-panel .btn-container {
  border-top: 1px solid #a7aaaf;
  padding: 1rem;
}

.btn-panel .btn-container .btn-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.btn-panel .btn-container button {
  width: 100%;
  border-radius: 5px;
  font-size: 16px;
  padding: 8px;
}

.btn-panel .btn-prev {
  text-align: left;
  background-color: transparent;
}

.btn-panel .btn-prev::before {
  content: "←";
  margin-right: 1rem;
}

.btn-panel .btn-next {
  background-color: #f67599;
  color: #fff;
}

.btn-panel .btn-next:hover {
  background-color: #f34576;
}

.btn-panel .btn-next::after {
  content: "→";
  margin-left: 1rem;
}

.none {
  display: none;
}

@media screen and (min-width: 768px) {
  header .nav {
    padding: 0 1rem;
    margin: 0 auto;
    position: relative;
  }
  header .hamburger {
    all: unset;
    display: inline-block;
    position: absolute;
    top: 20.5px;
    width: 20px;
    height: 15px;
  }
  .stepper-panel {
    padding-top: 90px;
  }
  .main-content {
    min-height: calc(100% - 330px);
    margin-bottom: 30px;
  }
  .main-content .main-container {
    height: 100%;
    margin: 0 auto;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: (1fr)[5];
        grid-template-rows: repeat(5, 1fr);
        grid-template-areas: "left right" "left right" "left right" "left right" "btn right";
  }
  .main-content .left-content {
    height: 100%;
    min-width: 453px;
    -ms-grid-row: 1;
    -ms-grid-row-span: 4;
    -ms-grid-column: 1;
    grid-area: left;
  }
  .main-content .right-content {
    padding-top: 70px;
    height: 100%;
    min-width: 400px;
    margin-top: 4rem;
    -ms-grid-row: 1;
    -ms-grid-row-span: 5;
    -ms-grid-column: 2;
    grid-area: right;
  }
  .main-content .right-content .cart-panel {
    margin-top: 24px;
  }
  .main-content .right-content .cart-items .info {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .main-content .right-content .cart-items .info .info-left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .main-content .btn-panel {
    margin-top: 20px;
    -ms-grid-row: 5;
    -ms-grid-column: 1;
    grid-area: btn;
  }
  .main-content .btn-panel .btn-container {
    height: 100%;
    padding: 1rem;
  }
  .main-content .btn-panel .btn-content {
    width: 100%;
    height: 100%;
    position: relative;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .main-content .btn-panel button {
    width: 35%;
    max-width: 180px;
  }
  .main-content .btn-panel .btn-next {
    position: absolute;
    right: 0;
    top: 16px;
    bottom: 16px;
  }
  .main-content .cart-content .title {
    display: block;
  }
  .main-content .part-delivery .grid-row {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
    -ms-grid-rows: (1fr)[3];
        grid-template-rows: repeat(3, 1fr);
        grid-template-areas: "salutation name name name" "phone phone email email" "location address address address";
  }
  .main-content .part-payment .grid-row {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
    -ms-grid-rows: (1fr)[3];
        grid-template-rows: repeat(3, 1fr);
        grid-template-areas: "name name name ." "number number number ." "date date ccv ccv";
  }
  .content-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .part-courier label {
    max-width: 80%;
    margin-bottom: 2.8rem;
  }
}

@media screen and (min-width: 996px) {
  .main-content {
    padding-top: 20px;
  }
  header {
    width: 100%;
  }
  header .nav {
    padding: 0 1rem;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
  }
  header .nav .nav-list {
    all: unset;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 1rem;
    font-weight: 600;
  }
  header .nav .nav-item {
    all: unset;
    padding: 0.5rem 0.5rem 0.5rem 0;
  }
  header .nav .navbar-brand {
    position: absolute;
    min-width: 140px;
    margin: 0 auto;
    left: 50%;
  }
  header .nav .nav-icons {
    all: unset;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  header .nav .hamburger {
    display: none;
  }
  .footer {
    height: 330px;
    display: block;
    width: 100%;
    background-color: #e5e5e5;
  }
  .footer-container {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 90%;
    margin: 0 auto;
  }
  .footer-brand {
    line-height: 140px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    width: 160px;
    min-width: 80px;
    height: 30px;
    min-height: 20px;
  }
  .footer-brand img {
    width: 100%;
  }
  .footer-panel {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
  }
  .footer-panel .item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer-panel .icon {
    display: inline-block;
    width: 15px;
    height: 15px;
  }
  .footer-panel .icon img {
    width: 100%;
  }
  .item-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .item-link {
    color: #a7aaaf;
  }
}
/*# sourceMappingURL=all.css.map */